.footer {
    background-color: #2f80ed; /* Set the background color to the same as the header */
    ;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  